@model ModelProject.SHRTimesModel
@{
    Layout = null;
    List<SelectListItem> ArrSecPro = new List<SelectListItem>();
    ArrSecPro.Add(new SelectListItem { Text = "请选择部门", Value = "" });
    ArrSecPro.Add(new SelectListItem { Text = "生产部", Value = "2" });
    ArrSecPro.Add(new SelectListItem { Text = "办公室", Value = "1" });
}
@Html.Action("_Meta", "Home")
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>首页<span class="c-gray en">&gt;</span>行政管理<span class="c-gray en">&gt;</span>办公室考勤列表
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
    <div class="text-c">
        @*<span class="select-box inline">
            @Html.DropDownListFor(k => k.TypeId, ArrSecPro, new { @class = "select", @style = "width:150px", })
        </span>*@
        <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}' })" id="logmin" class="input-text Wdate" style="width:120px;" value="@Model.StartTime">
        -
        <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d' })" id="logmax" class="input-text Wdate" style="width:120px;" value="@Model.EndTime">

        <button id="btnSearch" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i>搜素</button>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="f-l">
            <a href="javascript:void(0);" onclick="toExcelout()" class="btn btn-warning-outline radius"><i class="Hui-iconfont">&#xe644;</i>导出表格</a>
        </span>
    </div>
    <div class="mt-20 checkmodel">
        @*@Html.Action("PageList","Article")*@
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
				<tr class="text-l">
					<th width="25"><input type="checkbox" name="" value=""></th>
					<th>姓名</th>
					<th>部门</th>
					<th>月份</th>
					<th>1</th>
					<th>2</th>
					<th>3</th>
					<th>4</th>
					<th>5</th>
					<th>6</th>
					<th>7</th>
					<th>8</th>
					<th>9</th>
					<th>10</th>
					<th>11</th>
					<th>12</th>
					<th>13</th>
					<th>14</th>
					<th>15</th>
					<th>16</th>
					<th>17</th>
					<th>18</th>
					<th>19</th>
					<th>20</th>
					<th>21</th>
					<th>22</th>
					<th>23</th>
					<th>24</th>
					<th>25</th>
					<th>26</th>
					<th>27</th>
					<th>28</th>
					<th>29</th>
					<th>30</th>
					<th>31</th>
				</tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@Html.Action("_Footer", "Home")
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="~/js/DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="~/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/js/ajaxScript.js?v=5"></script>
<script type="text/javascript">

    var param = {};
    $(function () { //搜索条件
        var StartTime = $("#logmin").val().trim();
        var EndTime = $("#logmax").val().trim();
        //搜索
        param["StartTime"] = StartTime;
		param["EndTime"] = EndTime;
		param["TypeId"] = 1;
		search(param);
    });
    $("#btnSearch").click(function () {
        //搜索条件
        var StartTime = $("#logmin").val().trim();
        var EndTime = $("#logmax").val().trim();
        //搜索
        param["StartTime"] = StartTime;
        param["EndTime"] = EndTime;
        param["TypeId"] = 1;
        //初始化，然后绑定
        $('.table-sort').DataTable().destroy();
        search(param);
    });

    function search(param) {
        $('.table-sort').dataTable({
            "aaSorting": [[1, "desc"]],//默认第几个排序
            "bStateSave": true,//状态保存
            "scrollX": true,
			"bAutoWidth": false,
			//"pageLength": 40,
            "ajax": function (data, callback, settings) {
                ajaxRequest("post", "/HR/PageList", param, function (result) {
                    var returnData = {};
                    returnData.data = result;
                    callback(returnData);
                });
            },
            "columnDefs": [//对table格式的定义（表格的列从0开始）
                {
                    targets: 0,
                    orderable: false,
                    render: function (data, type, row) {
                        var StrArr = "";
                        StrArr = '<input type="checkbox" value="' + row.Id + '" >';
                        return StrArr;
                    }
                }
            ],
            "columns": [//返回的json数据在这里填充，注意一定要与上面的<th>数量对应，否则排版出现扭曲
                { "data": "Id" },
                { "data": "Name", "defaultContent": "", "className": "textoverflow" },
                { "data": "DepartmentName", "defaultContent": "", "className": "textoverflow" },
                {
                    "data": "d_start", "defaultContent": "", "className": "textoverflow c-red", "render": function (data) {
                        if (data != null) {
							var NewTime = parseInt(data.replace(/\D/igm, ""));
							var date = formatDate(NewTime);
							return date.split('-')[1];
                        }
                    }
                },
				{ "data": "d1", "defaultContent": "", "render": function (data, type, row) {
					var str = data;
					return str + '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="hrmsg(\'' + row.Id + '\',\'1\')" title="添加考勤"><i class="Hui-iconfont">&#xe6df;</i></a>';
                        } },																												
				{ "data": "d2", "defaultContent": "","render": function (data, type, row) {													
					var str = data;																											
					if (str != "无") {
						str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="hrmsg(\'' + row.Id + '\',\'2\')" title="添加考勤"><i class="Hui-iconfont">&#xe6df;</i></a>';
					}
					return str;
				   }  },																												
				{ "data": "d3", "defaultContent": "","render": function (data, type, row) {													
					var str = data;																											
					if (str != "无") {
						str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="hrmsg(\'' + row.Id + '\',\'3\')" title="添加考勤"><i class="Hui-iconfont">&#xe6df;</i></a>';
					}
					return str;
				   }  },
				{ "data": "d4", "defaultContent": "","render": function (data, type, row) {
					var str = data;
					if (str != "无") {
						str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="hrmsg(\'' + row.Id + '\',\'4\')" title="添加考勤"><i class="Hui-iconfont">&#xe6df;</i></a>';
					}
					return str;
				   }  },
				{ "data": "d5", "defaultContent": "","render": function (data, type, row) {
					var str = data;
					if (str != "无") {
						str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="hrmsg(\'' + row.Id + '\',\'5\')" title="添加考勤"><i class="Hui-iconfont">&#xe6df;</i></a>';
					}
					return str;
				   } },
				{ "data": "d6", "defaultContent": "","render": function (data, type, row) {
					var str = data;
					if (str != "无") {
						str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="hrmsg(\'' + row.Id + '\',\'6\')" title="添加考勤"><i class="Hui-iconfont">&#xe6df;</i></a>';
					}
					return str;
				   }  },
				{ "data": "d7", "defaultContent": "","render": function (data, type, row) {
					var str = data;
					if (str != "无") {
						str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="hrmsg(\'' + row.Id + '\',\'7\')" title="添加考勤"><i class="Hui-iconfont">&#xe6df;</i></a>';
					}
					return str;
				   }  },																												
				{ "data": "d8", "defaultContent": "","render": function (data, type, row) {													
					var str = data;																											
					if (str != "无") {
						str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="hrmsg(\'' + row.Id + '\',\'8\')" title="添加考勤"><i class="Hui-iconfont">&#xe6df;</i></a>';
					}
					return str;
				   } },																												
				{ "data": "d9", "defaultContent": "","render": function (data, type, row) {													
					var str = data;																											
					if (str != "无") {
						str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="hrmsg(\'' + row.Id + '\',\'9\')" title="添加考勤"><i class="Hui-iconfont">&#xe6df;</i></a>';
					}
					return str;
				   } },																												
				{ "data": "d10", "defaultContent": "","render": function (data, type, row) {												
					var str = data;																											
					if (str != "无") {
						str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="hrmsg(\'' + row.Id + '\',\'10\')" title="添加考勤"><i class="Hui-iconfont">&#xe6df;</i></a>';
					}
					return str;
				   }  },																												
				{ "data": "d11", "defaultContent": "","render": function (data, type, row) {												
					var str = data;																											
					if (str != "无") {
						str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="hrmsg(\'' + row.Id + '\',\'11\')" title="添加考勤"><i class="Hui-iconfont">&#xe6df;</i></a>';
					}
					return str;
				   }  },																												
				{ "data": "d12", "defaultContent": "","render": function (data, type, row) {												
					var str = data;																											
					if (str != "无") {
						str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="hrmsg(\'' + row.Id + '\',\'12\')" title="添加考勤"><i class="Hui-iconfont">&#xe6df;</i></a>';
					}
					return str;
				   } },																												
				{ "data": "d13", "defaultContent": "","render": function (data, type, row) {												
					var str = data;																											
					if (str != "无") {
						str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="hrmsg(\'' + row.Id + '\',\'13\')" title="添加考勤"><i class="Hui-iconfont">&#xe6df;</i></a>';
					}
					return str;
				   }  },																												
				{ "data": "d14", "defaultContent": "","render": function (data, type, row) {												
					var str = data;																											
					if (str != "无") {
						str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="hrmsg(\'' + row.Id + '\',\'14\')" title="添加考勤"><i class="Hui-iconfont">&#xe6df;</i></a>';
					}
					return str;
				   }  },																												
				{ "data": "d15", "defaultContent": "","render": function (data, type, row) {												
					var str = data;																											
					if (str != "无") {
						str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="hrmsg(\'' + row.Id + '\',\'15\')" title="添加考勤"><i class="Hui-iconfont">&#xe6df;</i></a>';
					}
					return str;
				   } },																												
				{ "data": "d16", "defaultContent": "","render": function (data, type, row) {												
					var str = data;																											
					if (str != "无") {
						str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="hrmsg(\'' + row.Id + '\',\'16\')" title="添加考勤"><i class="Hui-iconfont">&#xe6df;</i></a>';
					}
					return str;
				   }  },																												
				{ "data": "d17", "defaultContent": "","render": function (data, type, row) {												
					var str = data;																											
					if (str != "无") {
						str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="hrmsg(\'' + row.Id + '\',\'17\')" title="添加考勤"><i class="Hui-iconfont">&#xe6df;</i></a>';
					}
					return str;
				   }  },																												
				{ "data": "d18", "defaultContent": "","render": function (data, type, row) {												
					var str = data;																											
					if (str != "无") {
						str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="hrmsg(\'' + row.Id + '\',\'18\')" title="添加考勤"><i class="Hui-iconfont">&#xe6df;</i></a>';
					}
					return str;
				   } },																												
				{ "data": "d19", "defaultContent": "","render": function (data, type, row) {												
					var str = data;																											
					if (str != "无") {
						str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="hrmsg(\'' + row.Id + '\',\'19\')" title="添加考勤"><i class="Hui-iconfont">&#xe6df;</i></a>';
					}
					return str;
				   }  },																												
				{ "data": "d20", "defaultContent": "","render": function (data, type, row) {												
					var str = data;																											
					if (str != "无") {
						str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="hrmsg(\'' + row.Id + '\',\'20\')" title="添加考勤"><i class="Hui-iconfont">&#xe6df;</i></a>';
					}
					return str;
				   }  },																												
				{ "data": "d21", "defaultContent": "","render": function (data, type, row) {												
					var str = data;																											
					if (str != "无") {
						str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="hrmsg(\'' + row.Id + '\',\'21\')" title="添加考勤"><i class="Hui-iconfont">&#xe6df;</i></a>';
					}
					return str;
				   }  },																												
				{ "data": "d22", "defaultContent": "","render": function (data, type, row) {												
					var str = data;																											
					if (str != "无") {
						str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="hrmsg(\'' + row.Id + '\',\'22\')" title="添加考勤"><i class="Hui-iconfont">&#xe6df;</i></a>';
					}
					return str;
				   } },																												
				{ "data": "d23", "defaultContent": "","render": function (data, type, row) {												
					var str = data;																											
					if (str != "无") {
						str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="hrmsg(\'' + row.Id + '\',\'23\')" title="添加考勤"><i class="Hui-iconfont">&#xe6df;</i></a>';
					}
					return str;
				   } },																												
				{ "data": "d24", "defaultContent": "","render": function (data, type, row) {												
					var str = data;																											
					if (str != "无") {
						str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="hrmsg(\'' + row.Id + '\',\'24\')" title="添加考勤"><i class="Hui-iconfont">&#xe6df;</i></a>';
					}
					return str;
				   } },																												
				{ "data": "d25", "defaultContent": "","render": function (data, type, row) {												
					var str = data;																											
					if (str != "无") {
						str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="hrmsg(\'' + row.Id + '\',\'25\')" title="添加考勤"><i class="Hui-iconfont">&#xe6df;</i></a>';
					}
					return str;
				   } },																												
				{ "data": "d26", "defaultContent": "","render": function (data, type, row) {												
					var str = data;																											
					if (str != "无") {
						str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="hrmsg(\'' + row.Id + '\',\'26\')" title="添加考勤"><i class="Hui-iconfont">&#xe6df;</i></a>';
					}
					return str;
				   } },																												
				{ "data": "d27", "defaultContent": "","render": function (data, type, row) {												
					var str = data;																											
					if (str != "无") {
						str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="hrmsg(\'' + row.Id + '\',\'27\')" title="添加考勤"><i class="Hui-iconfont">&#xe6df;</i></a>';
					}
					return str;
				   } },																												 
				{ "data": "d28", "defaultContent": "","render": function (data, type, row) {												 
					var str = data;																											 
					if (str != "无") {
						str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="hrmsg(\'' + row.Id + '\',\'28\')" title="添加考勤"><i class="Hui-iconfont">&#xe6df;</i></a>';
					}
					return str;
				   } },																												
				{ "data": "d29", "defaultContent": "","render": function (data, type, row) {												
					var str = data;	
					if (str != "无") {
					 str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="hrmsg(\'' + row.Id + '\',\'29\')" title="添加考勤"><i class="Hui-iconfont">&#xe6df;</i></a>';
					}
					return str;
				  }
				},																												
				{ "data": "d30", "defaultContent": "","render": function (data, type, row) {												
					var str = data;	
					if (str != "无") {
						str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="hrmsg(\'' + row.Id + '\',\'30\')" title="添加考勤"><i class="Hui-iconfont">&#xe6df;</i></a>';
					}
					return str;
				   }
				},																												
				{																															
					"data": "d31", "defaultContent": "","render": function (data, type, row) {												
						var str = data;		
						if (str != "无") {
							 str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="hrmsg(\'' + row.Id + '\',\'31\')" title="添加考勤"><i class="Hui-iconfont">&#xe6df;</i></a>';
						}
						return str;
					}
				},
            ],
        });
    };

     function toExcelout() {
        var StartTime = $("#logmin").val().trim();
        var EndTime = $("#logmax").val().trim();
        window.location.href = "/HR/ToExcelOut?StartTime=" + StartTime + '&EndTime=' + EndTime+"&TypeId=1&DCTypeId=3";
    };
</script> 