@model ModelProject.SLabelsModel
@{
    Layout = null;
    List<SelectListItem> ArrSecPro = new List<SelectListItem>();
    ArrSecPro.Add(new SelectListItem { Text = "请选择二级", Value = "" });
}
@Html.Action("_Meta", "Home")
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>首页<span class="c-gray en">&gt;</span>仓库管理<span class="c-gray en">&gt;</span>送货维修管理
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
    <div class="text-c">
       
        @Html.TextBoxFor(k => k.CustomerName, new { @placeholder = "订货人", @style = "width:150px", @class = "input-text" })
        <span class="select-box inline">
            @Html.DropDownListFor(k => k.INVId, Model.CKDroList, new { @class = "select" })
        </span>
        <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}' })" id="logmin" class="input-text Wdate" style="width:120px;" placeholder="开始时间">
        -
        <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d' })" id="logmax" class="input-text Wdate" style="width:120px;" placeholder="结束时间">
        <button id="btnSearch" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i>搜索</button>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="f-l">
            <a href="javascript:void(0);" onclick="del(this, '0')" class="btn btn-danger radius" data-url="@Url.Action("Delete","Labels")"><i class="Hui-iconfont">&#xe6e2;</i>选中取消送货</a>
            <a href="javascript:void(0);" onclick="ConfirmINV(this,'0')" class="btn btn-success radius" data-url="@Url.Action("MoveINV","Labels")"><i class="Hui-iconfont">&#xe615;</i>选中送货</a>
            <a href="javascript:void(0);" onclick="DeliveryINV(this,'0')" class="btn btn-success radius" data-url="@Url.Action("Delivery","Labels")"><i class="Hui-iconfont">&#xe615;</i>选中打印</a>
            <a href="javascript:void(0);" onclick="toExcelout()" class="btn btn-warning-outline radius"><i class="Hui-iconfont">&#xe644;</i>导出表格</a>
        </span>
    </div>
    <div class="mt-20 checkmodel">
        @*@Html.Action("PageList","Article")*@
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
                <tr class="text-l">
                    <th width="25"><input type="checkbox" name="" value=""></th>
                    <th>合同编号</th>
                    <th>订货人</th>
                    <th>产品名称</th>
                    <th>送货单号</th>
                    <th>材质</th>
                    <th>色号</th>
                    <th>所出仓库</th>
                    <th>送货日期</th>
                    <th>操作日期</th>
                    <th>状态</th>
                    <th width="120">操作</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@Html.Action("_Footer", "Home")
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="~/js/DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="~/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/js/ajaxScript.js?v=3"></script>
<script type="text/javascript" src="~/js/INVScript.js?v=1"></script>
<script type="text/javascript">

    var param = {};
    $(function () { search(param); });
    $("#btnSearch").click(function () {
        //搜索条件
        var CustomerName = $("#CustomerName").val().trim();
        var INVId = $("#INVId").val().trim();
        var StartTime = $("#logmin").val().trim();
        var EndTime = $("#logmax").val().trim();
        //搜索
        param["CustomerName"] = CustomerName;
        param["INVId"] = INVId;
        param["StartTime"] = StartTime;
        param["EndTime"] = EndTime;
        //初始化，然后绑定
        $('.table-sort').DataTable().destroy();
        search(param);
    });

    function search(param) {
        $('.table-sort').dataTable({
            "aaSorting": [[9, "desc"]],//默认第几个排序
            "bStateSave": false,//状态保存
            "ajax": function (data, callback, settings) {
                ajaxRequest("post", "/Delivery/PageList", param, function (result) {
                    //封装返回数据
                    var returnData = {};
                    returnData.data = result;
                    callback(returnData);
                });
            },
            "columnDefs": [//对table格式的定义（表格的列从0开始）
                {
                    targets: 0,
                    orderable: false,
                    render: function (data, type, row) {
                        return '<input type="checkbox" value="' + row.Id + '" ref="'+row.Status+'" >';
                    }
                }, {
                    targets: 11,
                    render: function (data, type, row) {
                        var str = '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="editwindow(\'编辑\',\'/Labels/Edit\', \'' + row.Id + '\', \'800\', \'600\')" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>' +
                               '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onClick="del(this,\'' + row.Id + '\')" data-url=\'/Labels/Delete\' title="删除"><i class="Hui-iconfont f-14">&#xe6e2;</i></a>';
                        if (row.Status == 0) { str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onClick="ConfirmINV(this,\'' + row.Id + '\')" data-url=\'/Labels/Check\' title="入库"><i class="Hui-iconfont f-14">&#xe645;</i></a>'; }
                        if (row.Status == 1) { str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onClick="DeliveryINV(this,\'' + row.Id + '\')" data-url=\'/Labels/Delivery\' title="送货维修"><i class="Hui-iconfont f-14">&#xe63c;</i></a>';}
                        return str;
                    }
                }
            ],
            "columns": [//返回的json数据在这里填充，注意一定要与上面的<th>数量对应，否则排版出现扭曲
                { "data": "Id" },
				{ "data": "CRM_SN", "defaultContent": "", "render": function (data, type, row) {
                                return "<u style=\"cursor:pointer\" class=\"text-primary\" onclick=\"show('" + data + "','/Order/Show','" + row.CRM_HTId + "','800','600')\">" + data + "</u>";
                        } },
				{ "data": "CustomerName", "className": "text-overflow" },
                { "data": "ProductName", "defaultContent": "","render": function (data, type, row) {
                                return row.ProductXL+"_"+row.ProductName;
                }
                }, 
                { "data": "OrderNum", "defaultContent": "" },
                { "data": "WoodName", "defaultContent": "" },
                { "data": "Color", "defaultContent": "" },
                { "data": "INVName", "defaultContent": "" },
                {
                    "data": "DeliverTime", "defaultContent": "","render": function (data) {
                        if (data != null) {
                        var NewTime = parseInt(data.replace(/\D/igm, ""));
                            return formatDate(NewTime);
                            }
                    }
                },
                {
                    "data": "CreateTime", "defaultContent": "","render": function (data) {
                        if (data != null) {
                        var NewTime = parseInt(data.replace(/\D/igm, ""));
                            return formatDateTime(NewTime);
                            }
                    }
                 },
                { "data": "Status",  "render": function (data) {
                        var GradeName = "<span class=\"label label-warning radius\">未送</span>";
                        if (data >= 1) { GradeName = "<span class=\"label label-success radius\">已送</span>";}
                    return GradeName;
                    } },

            ]
        });
    };
    $("#ProductsSNId").change(function () {
            var FatherId = $("#ProductsSNId").val();
			var ProUrl = "@Url.Action("GetSecSNDrolistByFatherId","Products")";
            $.post(ProUrl, { FatherId: FatherId }, function (data) {
                //alert(data);
                $('#FatherId').empty();
                $('#FatherId').append($('<option></option>').val("").text("请选择二级").attr("selected", true));
                $('#FatherId').append(data);
            });
    });
    function toExcelout() {
        var ProductSNId = $("#ProductSNId").val().trim();
        var FatherId = $("#FatherId").val().trim();
        var INVId = $("#INVId").val().trim();
        var StartTime = $("#logmin").val().trim();
        var EndTime = $("#logmax").val().trim();
        window.location.href = "/Labels/ToExcelOut?ProductSNId=" + ProductSNId + '&FatherId=' + FatherId + '&INVId=' + INVId + '&StartTime=' + StartTime + '&EndTime=' + EndTime;
        //$.post(ExcelUrl, {}, function (d) { });
    };
</script> 