@model List<ModelProject.LabelsModel>
@{
    Layout = null;
    int i = 1;
}
@Html.Action("_Meta", "Home")
    @if (Model != null && Model.Any())
    {
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
				<tr>
					<th>序号</th>
					<th>合同号</th>
					<th>订单</th>
					<th>客户</th>
					<th>送货时间</th>
				</tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="height:35px;">
                        <td>@(i)</td>
                        <td>@item.ProductXL _ @item.ProductName </td>
                        <td>@item.CRM_SN</td>
                        <td>@item.CustomerName </td>
                        <td>@Convert.ToDateTime(item.DeliveryTime).ToString("yyyy-MM-dd") </td>
                        
                    </tr>
                    i++;
                }
            </tbody>
</table>

    }