@model List<ModelProject.ContractHeaderModel>
@{
    Layout = null;
    int i = 1;
}
@Html.Action("_Meta", "Home")
    @if (Model != null && Model.Any())
    {
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
				<tr>
					<th>序号</th>
					<th>合同号</th>
					<th>客户</th>
					<th>金额</th>
				</tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="height:35px;">
                        <td>@(i)</td>
                        <td>@item.SN</td>
                        <td>@item.Customer</td>
                        <td>@item.Amount</td>
                        
                    </tr>
                    i++;
                }
            </tbody>
</table>

    }