@{ Layout = null;}
@Html.Action("_Meta", "Admin")
@Html.Action("_Header", "Admin")
@Html.Action("_Menu", "Admin")
<section class="Hui-article-box">
    <div id="Hui-tabNav" class="Hui-tabNav hidden-xs">
        <div class="Hui-tabNav-wp">
            <ul id="min_title_list" class="acrossTab cl">
                <li class="active">
                    <span title="我的桌面" data-href="welcome.html">我的桌面</span>
                    <em></em>
                </li>
            </ul>
        </div>
        <div class="Hui-tabNav-more btn-group"><a id="js-tabNav-prev" class="btn radius btn-default size-S" href="javascript:void(0);"><i class="Hui-iconfont">&#xe6d4;</i></a><a id="js-tabNav-next" class="btn radius btn-default size-S" href="javascript:void(0);"><i class="Hui-iconfont">&#xe6d7;</i></a></div>
    </div>
    <div id="iframe_box" class="Hui-article">
        <div class="show_iframe">
            <div style="display:none" class="loading"></div>
            
			<div class="page-container">
				<p class="f-20 text-success">
					欢迎进入香凝工艺<span class="f-14">总裁分析系统！@*以下是<span id="yeartime" class="c-green f-18"></span>年数据*@</span>
					<br /><span id="top_time" class="c-green"></span>
				</p>
				@Html.Action("_CK", "Admin")
				@Html.Action("_KC", "Admin")
				@Html.Action("_XS", "Admin")
				@Html.Action("_SK", "Admin")

				@Html.Action("_GX", "Admin")
				@Html.Action("_HRList", "Admin")
			</div>
        </div>
    </div>
</section>

<div class="contextMenu" id="Huiadminmenu">
    <ul>
        <li id="closethis">关闭当前</li>
        <li id="closeall">关闭全部</li>
    </ul>
</div>

@Html.Action("_Footer", "Admin")

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="~/js/jquery.contextmenu.r2.js"></script>
<script type="text/javascript">

    $(function () {
        var parentHead = $("head", parent.document).html();
		$("head").html(parentHead);

		var date=new Date;

		var y = date.getFullYear();
		$("#yeartime").html(y);
    });
    /*个人信息*/
    function goUrl(title,url) {
        var index = layer.open({
		    type: 2,
		    title: title,
		    content: url
	    });
	    layer.full(index);
    }

</script>

</body>
</html>