@model ModelProject.CostModel
@{Layout = null;
    List<SelectListItem> ArrSecPro = new List<SelectListItem>();
    ArrSecPro.Add(new SelectListItem { Text = "请选择二级", Value = "" });
    List<SelectListItem> ArrProName = new List<SelectListItem>();
    ArrProName.Add(new SelectListItem { Text = "请选择产品名称", Value = "" });
    }

@Html.Action("_Meta", "Home")

<script type="text/javascript" src="~/js/jquery.min.js"></script>
<article class="page-container">
    <form class="form form-horizontal" id="formadd">
        @Html.HiddenFor(k => k.Id)
        @if (Model.Id == null || Model.Id <= 0)
        {
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品名称：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <span class="select-box inline">
                        @Html.DropDownListFor(k => k.ProductSNId, Model.XLDroList, new { @class = "select", @style = "width:150px;" })
                        @Html.DropDownListFor(k => k.FatherId, ArrSecPro, new { @class = "select", @style = "width:150px;" })
                        @Html.DropDownListFor(k => k.ProductId, ArrProName, new { @class = "select", @style = "width:150px;" })
                    </span>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>材质：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <span class="select-box inline">
                        @Html.DropDownListFor(k => k.WoodId, Model.MCDroList, new { @class = "select", @style = "width:150px;" })

                        @Html.HiddenFor(k => k.WoodName)
                    </span>
                </div>
            </div>}
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">木材成本：</label>
            <div class="formControls col-xs-8 col-sm-9">
                @Html.TextBoxFor(k => k.MCPrice, new { @class = "input-text", @style = "width:200px;" }) 元
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">辅料成本：</label>
            <div class="formControls col-xs-8 col-sm-9">
                @Html.TextBoxFor(k => k.FLPrice, new { @class = "input-text", @style = "width:200px;" }) 元
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">开料成本：</label>
            <div class="formControls col-xs-8 col-sm-9">
                @Html.TextBoxFor(k => k.KLPrice, new { @class = "input-text" })
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">雕花成本：</label>
            <div class="formControls col-xs-8 col-sm-9">
                @Html.TextBoxFor(k => k.DHPrice, new { @class = "input-text" })
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">木工前段：</label>
            <div class="formControls col-xs-8 col-sm-9">
                @Html.TextBoxFor(k => k.MGQPrice, new { @class = "input-text" })
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">木工后段：</label>
            <div class="formControls col-xs-8 col-sm-9">
                @Html.TextBoxFor(k => k.MGHPrice, new { @class = "input-text" })
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">刮磨成本：</label>
            <div class="formControls col-xs-8 col-sm-9">
                @Html.TextBoxFor(k => k.GMPrice, new { @class = "input-text" })
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">油漆成本：</label>
            <div class="formControls col-xs-8 col-sm-9">
                @Html.TextBoxFor(k => k.YQPrice, new { @class = "input-text" })
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-primary radius" type="submit" style="width:120px;"><i class="Hui-iconfont">&#xe632;</i>保存</button>
                <button onClick="removeIframe();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</article>
<script type="text/javascript" src="~/js/ajaxScript.js"></script>
<script type="text/javascript" src="~/js/layer/layer.js"></script>
<script type="text/javascript" src="~/js/jquery.validation/jquery.validate.js"></script>
<script type="text/javascript" src="~/js/jquery.validation/messages_zh.js"></script>
<script type="text/javascript">

$(function(){

	//表单验证
	$("#formadd").validate({
		rules:{
            ProductId: { required: true, },
            WoodId: {required:true,},
		},
		onkeyup: false,
		focusCleanup:true,
		success:"valid",
		submitHandler: function (form) {
		    //构造上传数据
		    var param = {};
		    var paramArray = $(form).serializeArray();
		    for (var i = 0; i < paramArray.length; ++i) {
		        var o = paramArray[i];
		        param[o["name"]] = o["value"];
		    };
		    ajaxRequest("post", "/Cost/PostAddF", param, function (d) {

		        if (d == "1") {
		            if (editModel(window.location.href)) {
		                layer.msg("编辑成功！", { icon: 1, time: 1000 });
		            } else {
		                layer.msg("添加成功！", { icon: 1, time: 1000 });
		            }
		        } else {
		            layer.msg("服务器错误！", { icon: 2, time: 1000 });
		        }
		        setTimeout(function () {
		            parent.window.location.reload();
		            var index = parent.layer.getFrameIndex(window.name);
		            parent.layer.close(index);
		        }, 1000);

		    });

		}
	});

});

    $("#WoodId").change(function () {
        var StrVal = $(this).find("option:selected").text();
        if (StrVal == "请选择材质")
        { StrVal = ""; }
        $("#WoodName").val(StrVal.split('_')[0]);
    });
   $("#FatherId").change(function () {
            var ProductSNId = $("#FatherId").val();
   //         var Vtext = $("#FatherId").find("option:selected").text();
			//$("#ProductSN").val(Vtext.split('_')[0]);
            var ProUrl = "@Url.Action("GetProNameDrolistBySN","Products")";
            $.post(ProUrl, { ProSN: ProductSNId }, function (data) {
                //alert(data);
                $('#ProductId').empty();
                $('#ProductId').append($('<option></option>').val("").text("请选择产品名称").attr("selected", true));
                $('#ProductId').append(data);
            });
        });
		$("#ProductSNId").change(function () {
            var FatherId = $("#ProductSNId").val();
			//var Vtext = $("#ProductSNId").find("option:selected").text();
			//$("#ProductXL").val(Vtext.split('_')[0]);
			var ProUrl = "@Url.Action("GetSecSNDrolistByFatherId","Products")";
            $.post(ProUrl, { FatherId: FatherId }, function (data) {
                //alert(data);
                $('#FatherId').empty();
                $('#FatherId').append($('<option></option>').val("").text("请选择二级").attr("selected", true));
                $('#FatherId').append(data);
            });
        });
      
 
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>