@model ModelProject.CustomerModel
@{Layout = null;}

@Html.Action("_Meta", "Home")


<article class="page-container">
    <form class="form form-horizontal" id="formadd">
        @Html.HiddenFor(k => k.Id)
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>客户全称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                @Html.TextBoxFor(k => k.Name, new { @class = "input-text" })
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>客户简称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                @Html.TextBoxFor(k => k.ShortName, new { @class = "input-text" })
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">客户住址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                @Html.TextBoxFor(k => k.Address, new { @class = "input-text" })
            </div>
        </div>
        
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>联系电话：</label>
            <div class="formControls col-xs-8 col-sm-9">
                @Html.TextBoxFor(k => k.LinkTel, new { @class = "input-text" })
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">Email：</label>
            <div class="formControls col-xs-8 col-sm-9">
                @Html.TextBoxFor(k => k.Email, new { @class = "input-text" })
            </div>
        </div>
        
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-primary radius" type="submit" style="width:120px;"><i class="Hui-iconfont">&#xe632;</i>保存</button>
                <button onClick="removeIframe();" class="btn btn-default radius ml-30" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</article>
<script type="text/javascript" src="~/js/jquery.min.js"></script>
<script type="text/javascript" src="~/js/ajaxScript.js"></script>
<script type="text/javascript" src="~/js/layer/layer.js"></script>
<script type="text/javascript" src="~/js/jquery.validation/jquery.validate.js"></script>
<script type="text/javascript" src="~/js/jquery.validation/validate-methods.js"></script>
<script type="text/javascript" src="~/js/jquery.validation/messages_zh.js"></script>
<script type="text/javascript">

$(function(){

	//表单验证
	$("#formadd").validate({
		rules:{
		    Address_Delivery: {
				required:true,
			},
		    Name: {
				required:true,
		    },
		    LinkTel: { required: true, isMobile: true, }
		},
		onkeyup: false,
		focusCleanup:true,
		success:"valid",
		submitHandler: function (form) {
		    //构造上传数据
		    var param = {};
		    var paramArray = $(form).serializeArray();
		    for (var i = 0; i < paramArray.length; ++i) {
		        var o = paramArray[i];
		        param[o["name"]] = o["value"];
		    };
		    ajaxRequest("post", "/Customer/PostAdd", param, function (d) {

		        if (d == "1") {
		            if (editModel(window.location.href)) {
		                layer.msg("编辑成功！", { icon: 1, time: 1000 });
		            } else {
		                layer.msg("添加成功！", { icon: 1, time: 1000 });
		            }
		        } else {
		            layer.msg("服务器错误！", { icon: 2, time: 1000 });
		        }
		        setTimeout(function () {
		            parent.window.location.reload();
		            var index = parent.layer.getFrameIndex(window.name);
		            parent.layer.close(index);
		        }, 1000);

		    });

		}
	});

});


</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>