@model ModelProject.SCustomerModel
@{
    Layout = null;
}
@Html.Action("_Meta", "Home")
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>首页<span class="c-gray en">&gt;</span>销售管理<span class="c-gray en">&gt;</span>我的客户
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
    <div class="text-c">
        日期范围：
        <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}' })" id="logmin" class="input-text Wdate" style="width:120px;">
        -
        <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d' })" id="logmax" class="input-text Wdate" style="width:120px;">
        @Html.TextBoxFor(k => k.Name, new { @placeholder = "客户名称", @style = "width:150px", @class = "input-text" })
        <button id="btnSearch" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i>搜素</button>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <a href="javascript:void(0);" onclick="add('添加客户', '/Customer/Add', '600', '400')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i>添加客户</a>
    </div>
    <div class="mt-20 checkmodel">
        @*@Html.Action("PageList","Article")*@
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
                <tr class="text-l">
                    <th width="25">Id</th>
                    <th>客户名称</th>
                    <th>客户简称</th>
                    <th>客户住址</th>
                    <th>联系电话</th>
                    <th>EMail</th>
                    <th>所属业务员</th>
                    <th>所属部门</th>
                    <th width="100">上传时间</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@Html.Action("_Footer", "Home")
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="~/js/DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="~/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/js/ajaxScript.js?v=3"></script>
<script type="text/javascript">

    var param = {};
    $(function () { var BelongUserId = '@Model.BelongUserId'; param["BelongUserId"] = BelongUserId; search(param); });
    $("#btnSearch").click(function () {
        //搜索条件
        var BelongUserId = '@Model.BelongUserId';
        var Name = $("#Name").val().trim();
        var StartTime = $("#logmin").val().trim();
        var EndTime = $("#logmax").val().trim();
        //搜索
        param["Name"] = Name;
        param["StartTime"] = StartTime;
        param["EndTime"] = EndTime;
        param["BelongUserId"] = BelongUserId;
        //初始化，然后绑定
        $('.table-sort').DataTable().destroy();
        search(param);
    });

    function search(param) {
        $('.table-sort').dataTable({
            "bStateSave": true,
            "pading": false,
            "destroy": true,
            "searching": true,
            "autoWidth": true,
            "ordering": false, //设置所有不排序
            "ajax": function (data, callback, settings) {
                ajaxRequest("post", "/Customer/PageList", param, function (result) {
                    //封装返回数据
                    var returnData = {};
                    returnData.data = result;
                    callback(returnData);
                });
            },

            "columns": [//返回的json数据在这里填充，注意一定要与上面的<th>数量对应，否则排版出现扭曲
                        { "data": "Id" },
                        { "data": "Name", "className": "textoverflow" },
                        { "data": "ShortName", "defaultContent": "" },
                        { "data": "Address", "defaultContent": "", "className": "textoverflow" },
                        { "data": "LinkTel", "defaultContent": "" },
                        { "data": "Email", "defaultContent": "" },
                        { "data": "BelongUserName", "defaultContent": "" },
                        { "data": "Department", "defaultContent": "" },
                        {
                            "data": "CreateTime", "render": function (data) {
                                var NewTime = parseInt(data.replace(/\D/igm, ""));
                                return formatDateTime(NewTime);
                            }
                        },

            ]
        });
    };


</script> 