@model ModelProject.SContractProductsModel
@{
	Layout = null;
	List<SelectListItem> ArrSecPro = new List<SelectListItem>();
	ArrSecPro.Add(new SelectListItem { Text = "全部", Value = "" });
	ArrSecPro.Add(new SelectListItem { Text = "未开工", Value = "false" });
	ArrSecPro.Add(new SelectListItem { Text = "已开工", Value = "true" });
}
@Html.Action("_Meta", "Home")
<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i>首页<span class="c-gray en">&gt;</span>生产管理<span class="c-gray en">&gt;</span>销售开工
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<div class="text-c">
		<span class="select-box inline">
			@Html.DropDownListFor(k => k.IsKG, ArrSecPro, new { @class = "select" })
		</span>
		@*@Html.TextBoxFor(k => k.ProductName, new { @placeholder = "产品名称", @style = "width:150px", @class = "input-text" })
			@Html.TextBoxFor(k => k.SN, new { @placeholder = "合同编号", @style = "width:150px", @class = "input-text" })
			@Html.TextBoxFor(k => k.Customer, new { @placeholder = "客户", @style = "width:150px", @class = "input-text" })*@

		<button id="btnSearch" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i>搜索</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="f-l">
			<a href="javascript:void(0);" onclick="SaleWork('0')" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe615;</i>选中开工</a>
		</span>
	</div>
	<div class="mt-20 checkmodel">
		@*@Html.Action("PageList","Article")*@
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-l">
					<th width="25"><input type="checkbox" name="" value=""></th>
					<th>客户</th>
					<th>合同编号</th>
					<th>产品系列</th>
					<th>产品名称</th>
					<th>材质</th>
					<th>数量（件）</th>
					<th>状态</th>
					<th>半成品库存</th>
					<th>成品库存</th>
					<th width="120">操作</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>

@Html.Action("_Footer", "Home")
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="~/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/js/ajaxScript.js?v=3"></script>
<script type="text/javascript" src="~/js/WorkScript.js?v=3"></script>
<script type="text/javascript">

	var param = {};
	$(function () { search(param); });
	$("#btnSearch").click(function () {
		param["IsKG"] = $("#IsKG").val().trim();;
		//初始化，然后绑定
		$('.table-sort').DataTable().destroy();
		search(param);
	});

	function search(param) {
		$('.table-sort').dataTable({
			"aaSorting": [[7, "desc"]],//默认第几个排序
			"bStateSave": true,//状态保存
			"ajax": function (data, callback, settings) {
				ajaxRequest("post", "/SaleStart/PageList", param, function (result) {
					//封装返回数据
					var returnData = {};
					returnData.data = result;
					callback(returnData);
				});
			},
			"columnDefs": [//对table格式的定义（表格的列从0开始）
				{
					targets: 0,
					orderable: false,
					render: function (data, type, row) {
						var strArr = "";
						if (row.Status <= 1) { strArr = '<input type="checkbox" value="' + row.Id + '" >'; };
						return strArr;
					}
				}, {
					targets: 10,
					render: function (data, type, row) {
						var strArr = "";
						if (row.Status <= 1) { strArr = '<a href="javascript:void(0);" style="text-decoration:none" onclick="SaleWork(' + row.Id + ')" title="开工"><i class="Hui-iconfont">&#xe61d;</i></a>'; }
						return strArr;
					}
				}
			],
			"columns": [//返回的json数据在这里填充，注意一定要与上面的<th>数量对应，否则排版出现扭曲
				{ "data": "Id" },
				{ "data": "Customer", "defaultContent": "" },
				{ "data": "SN", "defaultContent": "" },
				{ "data": "ProductSN", "defaultContent": "" },
				{ "data": "ProductName", "defaultContent": "" },
				{ "data": "WoodName", "defaultContent": "" },
				{ "data": "Qty", "defaultContent": "" },
				{
					"data": "Status", "render": function (data) {
						var GradeName = "<span class=\"label label-warning radius\">未开工</span>";
						if (data == 1) { GradeName = "<b class='c-red'>已确认</b>"; }
						if (data == 2) { GradeName = "<b class='c-success'>已生产</b>"; }
						if (data == 3) { GradeName = "<b class='c-success'>已入半成品库</b>"; }
						if (data == 4) { GradeName = "<b class='c-success'>已入成品库</b>"; }
						if (data == 5) { GradeName = "<b class='c-success'>已完成</b>"; }
						return GradeName;
					}
				},
				{ "data": "SemiCount", "defaultContent": "" },
				{
					"data": "LabelsCount", "defaultContent": "", "render": function (data, type, row) {
						var ReStr = data;
						if (data > 0 && row.Status <= 0) { ReStr = "<u style=\"cursor:pointer\" class=\"c-red\" onclick=\"BindSaleOrder('" + row.WoodId + "','" + row.ProductId + "','" + row.Id + "','" + row.Qty + "')\">" + data + "</u>"; }
						return ReStr;
					}
				},

			]
		});
	};


</script> 