@model List<ModelProject.MenuItemModel>
@{
    Layout = null;
}
 @Html.Action("_Header","Home")
<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
        @if (Model != null && Model.Any())
        {
            foreach (var Item in Model)
            {
                <dl>
                    <dt><i class="Hui-iconfont">@Html.Raw(Item.Icon)</i>@Item.Name<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                    <dd>
                        <ul>
                            @if (Item.SonItemList != null && Item.SonItemList.Any()) {
                            foreach (var SonItem in Item.SonItemList)
                            {
                                <li><a data-href="@Url.Action(SonItem.Action,SonItem.Controller)" data-title="@SonItem.Name" href="javascript:void(0)"><span class="pl-20">@SonItem.Name</span></a></li>
                                }
                            }
                        </ul>
                    </dd>
                </dl>
            }
        }


        @*
                <dl>
                    <dt><i class="Hui-iconfont">&#xe616;</i>资讯管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                    <dd>
                        <ul>
                            <li><a data-href="@Url.Action("Index","Article")" data-title="资讯列表" href="javascript:void(0)"><span class="pl-20">资讯列表</span></a></li>
                            <li><a data-href="@Url.Action("UserIndex","Article")" data-title="资讯添加" href="javascript:void(0)"><span class="pl-20">资讯添加</span></a></li>
                            <li><a data-href="@Url.Action("Index","Category")" data-title="资讯类别" href="javascript:void(0)"><span class="pl-20">资讯类别</span></a></li>
                        </ul>
                    </dd>
                </dl>
                <dl>
                    <dt><i class="Hui-iconfont">&#xe670;</i>采购管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                    <dd>
                        <ul>
                            <li><a data-href="@Url.Action("Index","Purchase")" data-title="采购管理" href="javascript:void(0)"><span class="pl-20">采购管理</span></a></li>
                            <li><a data-href="@Url.Action("UserIndex","Purchase")" data-title="采购申请" href="javascript:void(0)"><span class="pl-20">采购申请</span></a></li>
                        </ul>
                    </dd>
                </dl>
                <dl>
                    <dt><i class="Hui-iconfont">&#xe620;</i>销售管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                    <dd>
                        <ul>
                            <li><a data-href="product-brand.html" data-title="客户管理" href="javascript:void(0)"><span class="pl-20">客户管理</span></a></li>
                            <li><a data-href="product-category.html" data-title="订单管理" href="javascript:void(0)"><span class="pl-20">订单管理</span></a></li>
                            <li><a data-href="product-list.html" data-title="订单添加" href="javascript:void(0)"><span class="pl-20">订单添加</span></a></li>
                            <li><a data-href="product-list.html" data-title="半成品库" href="javascript:void(0)"><span class="pl-20">半成品库</span></a></li>
                            <li><a data-href="product-list.html" data-title="成品库" href="javascript:void(0)"><span class="pl-20">成品库</span></a></li>
                        </ul>
                    </dd>
                </dl>
                <dl id="menu-picture">
                    <dt><i class="Hui-iconfont">&#xe613;</i>图片管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                    <dd>
                        <ul>
                            <li><a data-href="picture-list.html" data-title="图片管理" href="javascript:void(0)"><span class="pl-20">图片管理</span></a></li>
                        </ul>
                    </dd>
                </dl>

                <dl id="menu-comments">
                    <dt><i class="Hui-iconfont">&#xe622;</i>评论管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                    <dd>
                        <ul>
                            <li><a data-href="http://h-ui.duoshuo.com/admin/" data-title="评论列表" href="javascript:;"><span class="pl-20">评论列表</span></a></li>
                            <li><a data-href="feedback-list.html" data-title="意见反馈" href="javascript:void(0)"><span class="pl-20">意见反馈</span></a></li>
                        </ul>
                    </dd>
                </dl>
                <dl id="menu-member">
                    <dt><i class="Hui-iconfont">&#xe60d;</i>会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                    <dd>
                        <ul>
                            <li><a data-href="member-list.html" data-title="会员列表" href="javascript:;"><span class="pl-20">会员列表</span></a></li>
                            <li><a data-href="member-del.html" data-title="删除的会员" href="javascript:;"><span class="pl-20">删除的会员</span></a></li>
                            <li><a data-href="member-level.html" data-title="等级管理" href="javascript:;"><span class="pl-20">等级管理</span></a></li>
                            <li><a data-href="member-scoreoperation.html" data-title="积分管理" href="javascript:;"><span class="pl-20">积分管理</span></a></li>
                            <li><a data-href="member-record-browse.html" data-title="浏览记录" href="javascript:void(0)"><span class="pl-20">浏览记录</span></a></li>
                            <li><a data-href="member-record-download.html" data-title="下载记录" href="javascript:void(0)"><span class="pl-20">下载记录</span></a></li>
                            <li><a data-href="member-record-share.html" data-title="分享记录" href="javascript:void(0)"><span class="pl-20">分享记录</span></a></li>
                        </ul>
                    </dd>
                </dl>
                <dl id="menu-admin">
                    <dt><i class="Hui-iconfont">&#xe62d;</i>管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                    <dd>
                        <ul>
                            <li><a data-href="@Url.Action("Index","Role")" data-title="权限管理" href="javascript:void(0)"><span class="pl-20">权限管理</span></a></li>
                            <li><a data-href="@Url.Action("Index","Menu")" data-title="菜单管理" href="javascript:void(0)"><span class="pl-20">菜单管理</span></a></li>
                            <li><a data-href="@Url.Action("Index","Users")" data-title="用户管理" href="javascript:void(0)"><span class="pl-20">用户管理</span></a></li>
                        </ul>
                    </dd>
                </dl>
                <dl id="menu-tongji">
                    <dt><i class="Hui-iconfont">&#xe61a;</i> 系统统计<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                    <dd>
                        <ul>
                            <li><a data-href="charts-1.html" data-title="折线图" href="javascript:void(0)">折线图</a></li>
                            <li><a data-href="charts-2.html" data-title="时间轴折线图" href="javascript:void(0)">时间轴折线图</a></li>
                            <li><a data-href="charts-3.html" data-title="区域图" href="javascript:void(0)">区域图</a></li>
                            <li><a data-href="charts-4.html" data-title="柱状图" href="javascript:void(0)">柱状图</a></li>
                            <li><a data-href="charts-5.html" data-title="饼状图" href="javascript:void(0)">饼状图</a></li>
                            <li><a data-href="charts-6.html" data-title="3D柱状图" href="javascript:void(0)">3D柱状图</a></li>
                            <li><a data-href="charts-7.html" data-title="3D饼状图" href="javascript:void(0)">3D饼状图</a></li>
                    </ul>
                </dd>
            </dl>
        <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe62e;</i>系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="system-base.html" data-title="系统设置" href="javascript:void(0)"><span class="pl-20">系统设置</span></a></li>
                    <li><a data-href="system-category.html" data-title="栏目管理" href="javascript:void(0)"><span class="pl-20">栏目管理</span></a></li>
                    <li><a data-href="system-data.html" data-title="数据字典" href="javascript:void(0)"><span class="pl-20">数据字典</span></a></li>
                    <li><a data-href="system-shielding.html" data-title="屏蔽词" href="javascript:void(0)"><span class="pl-20">屏蔽词</span></a></li>
                    <li><a data-href="system-log.html" data-title="系统日志" href="javascript:void(0)"><span class="pl-20">系统日志</span></a></li>
            </ul>
        </dd>
    </dl>*@
        
</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
