@model ModelProject.SLabelsModel
@{
    Layout = null;
    List<SelectListItem> ArrSecPro = new List<SelectListItem>();
    ArrSecPro.Add(new SelectListItem { Text = "请选择二级", Value = "" });
}
@Html.Action("_Meta", "Home")
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>首页<span class="c-gray en">&gt;</span>仓库管理<span class="c-gray en">&gt;</span>成品库管理
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<div class="text-c">
		<span class="select-box inline">
			@Html.DropDownListFor(k => k.ProductSNId, Model.XLDroList, new { @class = "select", @style = "width:150px", })
			@Html.DropDownListFor(k => k.FatherId, ArrSecPro, new { @class = "select", @style = "width:150px", })
		</span>
		@*@Html.TextBoxFor(k => k.ProductName, new { @placeholder = "名称", @style = "width:150px", @class = "input-text" })*@
		<span class="select-box inline">
			@Html.DropDownListFor(k => k.WoodId, Model.MCDroList, new { @class = "select" })
		</span>
		<span class="select-box inline">
			@Html.DropDownListFor(k => k.INVId, Model.CKDroList, new { @class = "select" })
		</span>
		<input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}' })" id="logmin" class="input-text Wdate" style="width:120px;" placeholder="开始时间">
		-
		<input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d' })" id="logmax" class="input-text Wdate" style="width:120px;" placeholder="结束时间">
		<button id="btnSearch" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i>搜索</button>
	</div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="f-l">
            <a href="javascript:void(0);" onclick="del(this, '0')" class="btn btn-danger radius" data-url="@Url.Action("Delete","Labels")"><i class="Hui-iconfont">&#xe6e2;</i>批量删除</a>
            <a href="javascript:void(0);" onclick="add('盘点入库', '/Labels/Add', '600', '300')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i>盘点入库</a>
            <a href="javascript:void(0);" onclick="ConfirmINV(this,'0')" class="btn btn-success radius" data-url="@Url.Action("MoveINV","Labels")"><i class="Hui-iconfont">&#xe615;</i>选中移库</a>
            <a href="javascript:void(0);" onclick="DeliveryINV(this,'0')" class="btn btn-success radius" data-url="@Url.Action("Delivery","Labels")"><i class="Hui-iconfont">&#xe615;</i>选中送货维修</a>
            <a href="javascript:void(0);" onclick="toExcelout()" class="btn btn-warning-outline radius"><i class="Hui-iconfont">&#xe644;</i>导出表格</a>
        </span>
    </div>
    <div class="mt-20 checkmodel">
        @*@Html.Action("PageList","Article")*@
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
                <tr class="text-l">
                    <th width="25"><input type="checkbox" name="" value=""></th>
                    <th>标签编码</th>
                    <th>产品编码</th>
                    <th>产品名称</th>
                    <th>产品图片</th>
                    <th>材质</th>
                    <th>色号</th>
                    <th>长（mm）</th>
                    <th>宽（mm）</th>
                    <th>高（mm）</th>
                    <th>产品级别</th>
                    <th>所入仓库</th>
                    <th>进库日期</th>
                    <th>状态</th>
                    <th>所属方式</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@Html.Action("_Footer", "Home")
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="~/js/DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="~/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/js/ajaxScript.js?v=3"></script>
<script type="text/javascript" src="~/js/INVScript.js?v=1"></script>
<script type="text/javascript">

    var param = {};
    $(function () { search(param); });
    $("#btnSearch").click(function () {
        //搜索条件
        var ProductSNId = $("#ProductSNId").val().trim();
        var FatherId = $("#FatherId").val().trim();
		var INVId = $("#INVId").val().trim();
		var WoodId = $("#WoodId").val().trim();
        var StartTime = $("#logmin").val().trim();
        var EndTime = $("#logmax").val().trim();
        //搜索
        param["ProductSNId"] = ProductSNId;
		param["INVId"] = INVId;
		param["WoodId"] = WoodId;
        param["FatherId"] = FatherId;
        param["StartTime"] = StartTime;
        param["EndTime"] = EndTime;
        //初始化，然后绑定
        $('.table-sort').DataTable().destroy();
        search(param);
    });

    function search(param) {
        $('.table-sort').dataTable({
            "aaSorting": [[12, "desc"]],//默认第几个排序
            "bStateSave": true,//状态保存
            "ajax": function (data, callback, settings) {
                ajaxRequest("post", "/Labels/PageList", param, function (result) {
                    //封装返回数据
                    var returnData = {};
                    returnData.data = result;
                    callback(returnData);
                });
            },
            "columnDefs": [//对table格式的定义（表格的列从0开始）
                {
                    targets: 0,
                    orderable: false,
                    render: function (data, type, row) {
                        return '<input type="checkbox" value="' + row.Id + '" ref="'+row.flag+'" >';
                    }
                }, {
                    targets: 15,
                    render: function (data, type, row) {
                        var str = '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="editwindow(\'编辑\',\'/Labels/Edit\', \'' + row.Id + '\', \'800\', \'600\')" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>';
                        if (row.Status == 0) { str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onClick="ConfirmINV(this,\'' + row.Id + '\')" data-url=\'/Labels/Check\' title="入库"><i class="Hui-iconfont f-14">&#xe645;</i></a>'; }
                        if (row.Status == 1 && row.flag==1) { str += '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onClick="DeliveryINV(this,\'' + row.Id + '\')" data-url=\'/Labels/Delivery\' title="送货维修"><i class="Hui-iconfont f-14">&#xe63c;</i></a>';}
                        return str;
                    }
                }
            ],
            "columns": [//返回的json数据在这里填充，注意一定要与上面的<th>数量对应，否则排版出现扭曲+
                              // '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onClick="del(this,\'' + row.Id + '\')" data-url=\'/Labels/Delete\' title="删除"><i class="Hui-iconfont f-14">&#xe6e2;</i></a>'
                { "data": "Id" },
				{ "data": "SN", "className": "text-overflow" },
				{ "data": "ProductSN", "className": "text-overflow" },
                { "data": "ProductName", "defaultContent": "" },
                {
					"data": "Picture", "className": "text-overflow", "render": function (data) {
						var picpath = "<img src=\"/images/nopic.png\" class=\"ConvertImg picreload\" id=\"ConvertImg\" />";
                        if (data != null && data != "") {
                            data = "http://gyp.xiangninghm.com/" + data;
                            picpath = "<a href=" + data + " target=\"blank\"><img src=" + data + " class=\"ConvertImg picreload\" id=\"ConvertImg\" /></a>";
                        }
						return picpath;
					}
				},
                { "data": "WoodName", "defaultContent": "" },
                { "data": "Color", "defaultContent": "" },
                { "data": "Length", "defaultContent": "" },
                { "data": "Width", "defaultContent": "" },
                { "data": "Height", "defaultContent": "" },
                {
                    "data": "Grade", "render": function (data) {
                        var GradeName = "";
                        if (data >= 6 && data < 9) { GradeName = "中级"; }
                        if (data >= 9) { GradeName = "高级"; }
                        else if(data >= 0 && data < 6){ GradeName = "低级";}
                    return GradeName;
                    }},
                { "data": "INVName", "defaultContent": "" },
                {
                    "data": "InputDateTime", "defaultContent": "","render": function (data) {
                        if (data != null) {
                        var NewTime = parseInt(data.replace(/\D/igm, ""));
                            return formatDateTime(NewTime);
                            }
                    }
                 },
                { "data": "Status",  "render": function (data) {
                        var GradeName = "<span class=\"label label-warning radius\">未确认</span>";
                        if (data >= 1) { GradeName = "<span class=\"label label-success radius\">已确认</span>";}
                    return GradeName;
                    } },
                { "data": "flag",  "render": function (data) {
                        var GradeName = "盘点产品";
                        if (data ==1) { GradeName = "销售产品"; }
                        if (data == 2) { GradeName = "预投产品";}
                    return GradeName;
                    } },

            ]
        });
    };
    $("#ProductSNId").change(function () {
            var FatherId = $("#ProductSNId").val();
			var ProUrl = "@Url.Action("GetSecSNDrolistByFatherId","Products")";
            $.post(ProUrl, { FatherId: FatherId }, function (data) {
                $('#FatherId').empty();
                $('#FatherId').append($('<option></option>').val("").text("请选择二级").attr("selected", true));
                $('#FatherId').append(data);
            });
    });
    function toExcelout() {
        var ProductSNId = $("#ProductSNId").val().trim();
        var FatherId = $("#FatherId").val().trim();
        var INVId = $("#INVId").val().trim();
        var StartTime = $("#logmin").val().trim();
        var EndTime = $("#logmax").val().trim();
        window.location.href = "/Labels/ToExcelOut?ProductSNId=" + ProductSNId + '&FatherId=' + FatherId + '&INVId=' + INVId + '&StartTime=' + StartTime + '&EndTime=' + EndTime;
        //$.post(ExcelUrl, {}, function (d) { });
    };
</script> 