@model ModelProject.WorkFromModel
@{Layout = null;
    List<SelectListItem> ArrGX=new List<SelectListItem>();
    ArrGX.Add(new SelectListItem { Text = "请选择工序", Value = "" });
    ArrGX.Add(new SelectListItem { Text = "开料", Value = "1" });
    ArrGX.Add(new SelectListItem { Text = "木工前段", Value = "2" });
    ArrGX.Add(new SelectListItem { Text = "雕花", Value = "3" });
    ArrGX.Add(new SelectListItem { Text = "木工后段", Value = "4" });
    ArrGX.Add(new SelectListItem { Text = "刮磨", Value = "5" });
    ArrGX.Add(new SelectListItem { Text = "油漆", Value = "6" });
    ArrGX.Add(new SelectListItem { Text = "配件安装", Value = "7" });
    
    List<SelectListItem> ArrUser = new List<SelectListItem>();
    ArrUser.Add(new SelectListItem { Text = "请选择接单人", Value = "" });
   
}

@Html.Action("_Meta", "Home")

<script type="text/javascript" src="~/js/jquery.min.js"></script>
<article class="page-container">
    <form class="form form-horizontal" id="formadd">
        @Html.HiddenFor(k => k.ListId)
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>选择工序：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box" style="width:200px;">
                    @Html.DropDownListFor(k => k.GXId, ArrGX, new { @class = "select" })
                    @Html.HiddenFor(k => k.Job)
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>接单人：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box" style="width:250px;">
                    @Html.DropDownListFor(k => k.ArrUser, ArrUser, new { @class = "select" })
                    @*<span>没你客户，去<a class="adddialog" url="@Url.Action("Add","CRM_KH")" title="新增" ref="0">新增</a></span>*@
                    @Html.HiddenFor(k => k.UserName)
                    @Html.HiddenFor(k => k.UserId)
                    @Html.HiddenFor(k => k.DepartmentId)
                    @Html.HiddenFor(k => k.Department)
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>工作时间：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="inline">
                    @Html.TextBoxFor(k => k.exp_begin_date, new { @class = "input-text Wdate", @onfocus="WdatePicker()", @style = "width:150px;", @id = "logmin",@placeholder="开始时间",@readonly="readonly" })
                   - @Html.TextBoxFor(k => k.exp_end_date, new { @class = "input-text Wdate", @onfocus="WdatePicker()", @style = "width:150px;", @id = "logmax" ,@placeholder="结束时间",@readonly="readonly"})
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>生产价格：</label>
            <div class="formControls col-xs-8 col-sm-9" style="width:150px;">
                @Html.TextBoxFor(k => k.cost, new { @class = "input-text" })
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">备注说明：</label>
            <div class="formControls col-xs-8 col-sm-9">
                @Html.TextAreaFor(k => k.Remark, new { @class = "textarea", @placeholder = "说点什么...！" })
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-primary radius" type="submit" style="width:120px;"><i class="Hui-iconfont">&#xe632;</i>保存</button>
                <button onClick="removeIframe();" class="btn btn-default radius ml-20" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</article>
<script type="text/javascript" src="~/js/ajaxScript.js?v=1"></script>
<script type="text/javascript" src="~/js/DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="~/js/layer/layer.js"></script>
<script type="text/javascript" src="~/js/jquery.validation/jquery.validate.js"></script>
<script type="text/javascript" src="~/js/jquery.validation/messages_zh.js"></script>
<script type="text/javascript">

    $(function () {
        //表单验证
        $("#formadd").validate({
            rules: {
                GongXu: { required: true, },
            },
            onkeyup: false,
            focusCleanup: true,
            success: "valid",
            submitHandler: function (form) {
                //构造上传数据
                var param = {};
                var paramArray = $(form).serializeArray();
                for (var i = 0; i < paramArray.length; ++i) {
                    var o = paramArray[i];
                    param[o["name"]] = o["value"];
                };
                ajaxRequest("post", "/WorkOrder/AddFromPost", param, function (d) {
                    if (d == "1") {
                        if (editModel(window.location.href)) {
                            layer.msg("编辑成功！", { icon: 1, time: 1000 });
                        } else {
                            layer.msg("添加成功！", { icon: 1, time: 1000 });
                        }
                    } else {
                        layer.msg("服务器错误！", { icon: 2, time: 1000 });
                    }
                    setTimeout(function () {
                        parent.window.location.reload();
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    }, 1000);
                });
            }
        });
    });

</script>
<script type="text/javascript">
    $(function () {
        $("#GXId").change(function () {
            var PId = $(this).val();
            var JobName = $("#GXId").find("option:selected").text();
            if (PId == 2 || PId == 4) { JobName = "木工"; }
            $("#Job").val(JobName);
            var ProUrl = "@Url.Action("UserDroListByJob","WorkOrder")";
            $.post(ProUrl, { Job: JobName }, function (data) {
                //alert(data);
                $('#ArrUser').empty();
                $('#ArrUser').append($('<option></option>').val("").text("请选择接单人").attr("selected", true));
                $('#ArrUser').append(data);
            });
        });

        $("#ArrUser").change(function () {
            var StrVal = $(this).val();
            if (StrVal != null && StrVal != "") {
                var Arr = StrVal.split('#');
                $("#UserId").val(Arr[0])
                $("#UserName").val(Arr[1])
                $("#DepartmentId").val(Arr[2]);
                $("#Department").val(Arr[3]);
            }
            else {
                $("#UserId").val("")
                $("#UserName").val("")
                $("#DepartmentId").val("");
                $("#Department").val("");
            }
        });
    });
</script>

<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>