@model List<ModelProject.WorkOrderEven>
@{
    Layout = null;
    int i = 1;
}
@Html.Action("_Meta", "Home")
@if (Model != null && Model.Any())
{
    <table class="table table-border table-bordered table-bg table-hover table-sort">
        <thead>
            <tr>
                <th>序号</th>
                <th>工序</th>
                <th>操作人</th>
                <th>操作事件</th>
                <th>操作时间</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="height:35px;">
                    <td>@(i)</td>
                    <td>@item.Name </td>
                    <td>@item.UserName </td>
                    <td>@item.Eventlog</td>
                    <td>@Convert.ToDateTime(item.CreateTime).ToString("yyyy-MM-dd HH:mm") </td>
                </tr>
                i++;
            }
        </tbody>
    </table>

}
else
{<p class="pt-20 ml-20 f-20">暂无记录！</p>}
