@model ModelProject.ContractProductsModel
@{
	Layout = null;
	List<SelectListItem> ArrWJ = new List<SelectListItem>();
	ArrWJ.Add(new SelectListItem { Text = "常规", Value = "常规" });
	ArrWJ.Add(new SelectListItem { Text = "定制", Value = "定制" });
	ArrWJ.Add(new SelectListItem { Text = "木拉手", Value = "木拉手" });
	ArrWJ.Add(new SelectListItem { Text = "挖拉手", Value = "挖拉手" });
	ArrWJ.Add(new SelectListItem { Text = "其他", Value = "其他" });
	List<SelectListItem> ArrProName = new List<SelectListItem>();
	ArrProName.Add(new SelectListItem { Text = "请选择产品名称", Value = "" });
	List<SelectListItem> ArrCL = new List<SelectListItem>();
	ArrCL.Add(new SelectListItem { Text = "是否定制", Value = "" });
	ArrCL.Add(new SelectListItem { Text = "是", Value = "true" });
	ArrCL.Add(new SelectListItem { Text = "否", Value = "false", Selected = true });
	List<SelectListItem> ArrSecPro = new List<SelectListItem>();
	ArrSecPro.Add(new SelectListItem { Text = "请选择二级", Value = "" });
}
	<form class="form form-horizontal" id="formadd">
		@Html.HiddenFor(k => k.ContractHeadId)

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">产品编号：</label>
			<div class="formControls col-xs-8 col-sm-9">
				@Html.TextBoxFor(k => k.OrderNum, new { @class = "input-text", @style = "width:200px;" })
				
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span class="select-box inline">
					@Html.DropDownListFor(k => k.ProductSNId, Model.ProXLDroList, new { @class = "select", @style = "width:150px;" })
					@Html.DropDownListFor(k => k.FatherId, Model.FatherDroList, new { @class = "select", @style = "width:150px;" })
					@Html.DropDownListFor(k => k.ProductId, ArrProName, new { @class = "select", @style = "width:150px;" })
					@Html.HiddenFor(k => k.ProductXL)
					@Html.HiddenFor(k => k.ProductName)
					@Html.HiddenFor(k => k.ProductSN)
					@Html.HiddenFor(k => k.SN)
					@Html.HiddenFor(k => k.FatherSN)
					@Html.HiddenFor(k => k.ProductXLSN)
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>材质+色号：</label>
			<div class="formControls col-xs-8 col-sm-8">
				<span class="select-box inline">
					@Html.DropDownListFor(k => k.WoodId, Model.WoodDroList, new { @class = "select", @style = "width:150px;" })
					@Html.DropDownListFor(k => k.ColorId, Model.colorDroList, new { @class = "select", @style = "width:150px;" })
					@Html.TextBoxFor(k => k.Color, new { @class = "input-text", @style = "width:150px;" })
					@Html.HiddenFor(k => k.WoodName)
					@Html.HiddenFor(k => k.WoodSN)
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">长+宽+高：</label>
			<div class="formControls col-xs-8 col-sm-9">
				@Html.TextBoxFor(k => k.length, new { @class = "input-text", @style = "width:120px;" })<span>mm</span>
				@Html.TextBoxFor(k => k.width, new { @class = "input-text", @style = "width:120px;" })<span>mm</span>
				@Html.TextBoxFor(k => k.height, new { @class = "input-text", @style = "width:120px;" })<span>mm</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>单价+数量：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span class="inline">
					@Html.TextBoxFor(k => k.price, new { @class = "input-text", @style = "width:120px;" }) <span>元</span>
					-  @Html.TextBoxFor(k => k.Qty, new { @class = "input-text", @style = "width:100px;" }) <span>件</span>
					<span id="BQPrice" class="c-red" rel=""></span>

				</span>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">其他要求：</label>
			<div class="formControls col-xs-8 col-sm-9">
				@Html.TextAreaFor(k => k.req_others, new { @class = "textarea" })
			</div>
		</div>

		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button class="btn btn-primary radius" type="submit" style="width:120px;"><i class="Hui-iconfont">&#xe632;</i>保存</button>
				<button onClick="removeIframe();" class="btn btn-default radius ml-30" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>

