@model ModelProject.ContractProductsModel
@{
	Layout = null;
	int Id = ViewBag.CHeadId;
}

@Html.Action("_Meta", "Home")


<article class="page-container">
	<div id="tab-system" class="HuiTab">
		<div class="tabBar cl">
			<span>家具</span>
			<span>工艺品</span>
		</div>
		<div class="tabCon">
			@Html.Action("AddF", "FOrder", new { Id = Id })
		</div>
		<div class="tabCon">
			@Html.Action("AddGYPProducts", "Order", new { Id = Id })
		</div>
	</div>
</article>

@Html.Action("_Footer", "Home")
<script type="text/javascript" src="~/js/ajaxScript.js"></script>

<script type="text/javascript" src="~/js/DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="~/js/jquery.validation/jquery.validate.js"></script>
<script type="text/javascript" src="~/js/jquery.validation/validate-methods.js"></script>
<script type="text/javascript" src="~/js/jquery.validation/messages_zh.js"></script>
<script type="text/javascript">
	$("#tab-system").Huitab({
		index: 1
	});
	$(function(){
	//表单验证
	$("#formadd").validate({
		rules:{
		    ProductSNId: {required:true,},
		    ProductName: { required: true },
		    WoodId: { required: true },
			price: { required: true },
			ProductId: { required: true },
		    Qty: { required: true, isIntGteZero: true },
		},
		onkeyup: false,
		focusCleanup:true,
		success:"valid",
		submitHandler: function (form) {
		    //构造上传数据
		    var param = {};
		    var paramArray = $(form).serializeArray();
		    for (var i = 0; i < paramArray.length; ++i) {
		        var o = paramArray[i];
		        param[o["name"]] = o["value"];
			};

			param["ProductId"] = $("#ProductId").find("option:selected").val();
			param["ProductName"] = $("#ProductId").find("option:selected").text().split('_')[0];
		    ajaxRequest("post", "/Order/PostAddProducts", param, function (d) {
		        if (d == "1") {
		            layer.msg("添加成功！", { icon: 1, time: 1000 });
		        } else {
		            layer.msg("服务器错误！", { icon: 2, time: 1000 });
		        }
		        setTimeout(function () {
		            parent.window.location.reload();
		            var index = parent.layer.getFrameIndex(window.name);
		            parent.layer.close(index);
		        }, 1000);
		    });
		}
	});
});

$(function(){

	//表单验证
	$("#Fformadd").validate({
		rules:{
		    FProductId: {required:true,},
		    ProductAreaId: {required:true,},
		    FProductName: { required: true },
		    FWoodId: { required: true },
		    FColorId: { required: true },
		    Price: { required: true },
		    FQty: { required: true, isIntGteZero: true },
		},
		onkeyup: false,
		focusCleanup:true,
		success:"valid",
		submitHandler: function (form) {
		    //构造上传数据
		    var param = {};
		    var paramArray = $(form).serializeArray();
		    for (var i = 0; i < paramArray.length; ++i) {
		        var o = paramArray[i];
		        param[o["name"]] = o["value"];
			};
			$.post("/Cost/GetChuChangPrice", { ProductId: param["FProductId"], WoodId: param["FWoodId"] }, function (d) {
				var CCPrice = parseFloat(d)*2.5;
				var OrderPrice = parseFloat($("#Price").val());
				if (OrderPrice <= CCPrice) { layer.msg("单价不能小于出售价！", { icon: 2, time: 1000 }); return; }
			})
		    ajaxRequest("post", "/FOrder/PostAddProducts", param, function (d) {

		        if (d == "1") {
		           layer.msg("添加成功！", { icon: 1, time: 1000 });
		        } else {
		            layer.msg("服务器错误！", { icon: 2, time: 1000 });
		        }
		        setTimeout(function () {
		            parent.window.location.reload();
		            var index = parent.layer.getFrameIndex(window.name);
		            parent.layer.close(index);
		        }, 1000);

		    });

		}
	});

});

    $("#FColorId").change(function () {
        var StrVal = $(this).find("option:selected").text();
        if (StrVal == "请选择色号")
        { StrVal = "";}
        $("#FColor").val(StrVal);
    });
    $("#FWoodId").change(function () {
        var StrVal = $(this).find("option:selected").text();
        if (StrVal == "请选择材质")
        { StrVal = ""; }
        $("#FWoodName").val(StrVal.split('_')[0]);
	});
	$("#ColorId").change(function () {
        var StrVal = $(this).find("option:selected").text();
        if (StrVal == "请选择色号")
        { StrVal = "";}
        $("#Color").val(StrVal);
    });
    $("#WoodId").change(function () {
        var StrVal = $(this).find("option:selected").text();
        if (StrVal == "请选择材质")
        { StrVal = ""; }
		$("#WoodName").val(StrVal.split('_')[0]);
		$("#WoodSN").val(StrVal.split('_')[1]);
		var SN = $("#ProductXLSN").val() + $("#FatherSN").val() + $("#WoodSN").val();
		$("#SN").val(SN);
	});
	$("#ProductSNId").change(function () {
        var FatherId = $("#ProductSNId").val();
		var Vtext = $("#ProductSNId").find("option:selected").text();
		$("#ProductXL").val(Vtext.split('_')[0]);
		$("#ProductXLSN").val(Vtext.split('_')[1]);
		var ProUrl = "@Url.Action("GetSecSNDrolistByFatherId","Products")";
        $.post(ProUrl, { FatherId: FatherId }, function (data) {
            //alert(data);
            $('#FatherId').empty();
            $('#FatherId').append($('<option></option>').val("").text("请选择二级").attr("selected", true));
            $('#FatherId').append(data);
        });
    });
    $("#ProductXLId").change(function () {
        var ProductSNId = $("#ProductXLId").val();
        var Strtext = $("#ProductXLId").find("option:selected").text();
        $("#FProductXL").val(Strtext);
        var productAreaId = $("#productAreaId").val();
        var ProUrl = "@Url.Action("GetFProNameDrolistBySNAndArea","FOrder")";
        $.post(ProUrl, { ProSN: ProductSNId, ProProArea: productAreaId }, function (data) {
            $('#FProductId').empty();
            $('#FProductId').append($('<option></option>').val("").text("请选择产品名称").attr("selected", true));
            $('#FProductId').append(data);
        });
    });
    $("#productAreaId").change(function () {
        var Strtext = $("#productAreaId").find("option:selected").text();
        $("#ProductArea").val(Strtext);
        var ProductSNId = $("#ProductSNId").val();
        var productAreaId = $("#productAreaId").val();
        var ProUrl = "@Url.Action("GetFProNameDrolistBySNAndArea", "FOrder")";
            $.post(ProUrl, { ProSN: ProductSNId, ProProArea: productAreaId }, function (data) {
                $('#FProductId').empty();
                $('#FProductId').append($('<option></option>').val("").text("请选择产品名称").attr("selected", true));
                $('#FProductId').append(data);
        });
    });
	$("#FatherId").change(function () {
        var ProductSNId = $("#FatherId").val();
        var Vtext = $("#FatherId").find("option:selected").text();
		$("#ProductSN").val(Vtext.split('_')[0]);
		$("#FatherSN").val(Vtext.split('_')[1]);
		var SN = $("#ProductXLSN").val() + $("#FatherSN").val() + $("#WoodSN").val();
		$("#SN").val(SN);
        var ProUrl = "@Url.Action("GetProNameDrolistBySN","Products")";
        $.post(ProUrl, { ProSN: ProductSNId }, function (data) {
            //alert(data);
            $('#ProductId').empty();
            $('#ProductId').append(data);
        });
    });

    $("#FProductId").change(function () {
		var _this = $(this);
		var Id = _this.val();
		var StrText = $(this).find("option:selected").text();
		var name = StrText.split('_')[0];
		var length = StrText.split('_')[1];
		var width = StrText.split('_')[2];
		var height = StrText.split('_')[3];
		$("#FProductName").val(name);
		$("#Length").val(length);
		$("#Width").val(width);
		$("#Height").val(height);
	});
	$("#ProductId").change(function () {
        var StrText = $(this).find("option:selected").text();
        var ProductName = StrText.split('_')[0];
        var length = StrText.split('_')[1];
        var width = StrText.split('_')[2];
        var height = StrText.split('_')[3];
        $("#ProductName").val(ProductName);
        $("#length").val(length);
        $("#width").val(width);
        $("#height").val(height);
    });
    $("#CustomFlag").click(function () {
        var StrVal = $(this).val();
        if (StrVal == "true")
        { $("#Length").removeAttr("readonly"); $("#Width").removeAttr("readonly"); $("#Height").removeAttr("readonly"); }
        else { $("#Length").attr("readonly", "readonly"); $("#Width").attr("readonly", "readonly"); $("#Height").attr("readonly", "readonly"); }
    });
    $("#OrderNum").blur(function () {
        var ordernum = $(this).val();
        var XL = ordernum.substring(0, 2).toUpperCase();
        var FatherSN = ordernum.substring(2, 4);
        var MCSN = ordernum.substring(4, 7);
        $("select#ProductSNId option").each(function (index, domEle) {
            var StrItem = $(this).text();
            var XLId = $(this).val();
            if (StrItem.indexOf(XL) >= 0) {
                $(this).attr("selected", true);
                $("#ProductXL").val(StrItem.split('_')[0]);
                var ProUrl = "@Url.Action("GetDrolistByFatherId","Products")";
                $.post(ProUrl, { FatherId: XLId,SelectedId:FatherSN }, function (data) {
                    $('#FatherId').empty();
                    $('#FatherId').append(data);
                });
            }
        });
        $("select#FatherId option").each(function (index, domEle) {
            var FItem = $(this).text();
            var FatherId = $(this).val();
            if (FItem.indexOf("_"+FatherSN) >= 0) {
                $(this).attr("selected", true);
                $("#ProductSN").val(FItem.split('_')[0]);
                var ProUrl = "@Url.Action("GetProNameDrolistBySN","Products")";
                $.post(ProUrl, { ProSN: FatherId }, function (data) {
                    $('#ProductId').empty();
                    $('#ProductId').append(data);

                    $("select#ProductId option").each(function (index, domEle) {
                        var StrText = $(this).text();
                        var ProductName = StrText.split('_')[0];
                        var length = StrText.split('_')[1];
                        var width = StrText.split('_')[2];
                        var height = StrText.split('_')[3];
                        $("#ProductName").val(ProductName);
                        $("#length").val(length);
                        $("#width").val(width);
                        $("#height").val(height);
                    });
                });
            }
        });
        $("select#WoodId option").each(function (index, domEle) {
            var FItem = $(this).text();
            if (FItem.indexOf("_"+MCSN) >= 0) {
                $(this).attr("selected", true);
                $("#WoodName").val(FItem.split('_')[0]);
            }
        });
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>