@model List<ModelProject.ContractProductsModel>
@{
    Layout = null;
    int i = 1;
}
@Html.Action("_Meta", "Home")
    @if (Model != null && Model.Any())
    {
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
				<tr>
					<th>序号</th>
					<th>产品编号</th>
					<th>产品名称</th>
					<th>材质</th>
					<th>色号</th>
					<th>单价（元）</th>
					<th>数量</th>
					<th>类型</th>
					<th>操作</th>
				</tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
				<tr style="height:35px;">
					<td>@(i)</td>
					<td>@item.SN</td>
					<td>@item.ProductSN _ @item.ProductName </td>
					<td>@item.WoodName </td>
					<td>@item.Color</td>
					<td>@item.price</td>
					<td>@item.Qty</td>
					<td>@(item.IsJJ == 1 ? "工艺礼品" : "红木家具")</td>
					<td>
						@if (item.Status == 0)
						{
							if (item.IsJJ == 1)
							{<a href="javascript:void(0)" class="delone" ref="@item.Id" url="@Url.Action("DeleteProduct", "Order")">删除</a>}
							else
							{ <a href="javascript:void(0)" class="delone" ref="@item.Id" url="@Url.Action("DeleteProduct", "FOrder")">删除</a>}
						}
					</td>
				</tr>
                    i++;
                }
            </tbody>
</table>

    }
    else
    {<p>暂无产品！</p>}
<script type="text/javascript" src="~/js/jquery.min.js"></script>
<script type="text/javascript">
    $(".delone").click(function () {
        var _This = $(this);
        var Id = _This.attr("ref");
        var Url = _This.attr("url");
        $.post(Url, { Id: Id }, function (d) {
            if (d == "1")
            {
                _This.parent().parent().remove();
            }
        })
    })
</script>