
@model List<ModelProject.LabelsModel>
@{
    Layout = null;
    int CRMId = ViewBag.CRMId;
    int Qty = ViewBag.Qty;
}
@Html.Action("_Meta", "Home")
@if (Model != null && Model.Any())
{
    <table class="table table-border table-bordered table-bg table-hover table-sort">
        <thead>
            <tr>
                <th>选择</th>
                <th>编码</th>
                <th>产品名称</th>
                <th>材质</th>
                <th>级别</th>
                <th>所在仓库</th>
                <th>入库时间</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="height:35px;">
                    <td><input type="checkbox" name="listcheck" class="listcheck" value="@item.Id" /></td>
                    <td>@item.ProductSN </td>
                    <td>@item.ProductName </td>
                    <td>@item.WoodName</td>
                    <td>@item.Grade </td>
                    <td>@item.INVName </td>
                    <td>@Convert.ToDateTime(item.InputDateTime).ToString("yyyy-MM-dd") </td>

                </tr>
            }
        </tbody>
    </table>

}
else
{<p>暂无记录！</p>}
<script type="text/javascript" src="~/js/jquery.min.js"></script>
<p class="fl red">当前合同数量是：@Qty 件</p>
<div style="text-align:center;">
    <a href="javascript:void(0);" id="checkpro" class="btn btn-danger radius" style="width:120px;"><i class="Hui-iconfont">&#xe615;</i>提交</a>
</div>
<script type="text/javascript">
    $(function () {
        $("#checkpro").click(function () {
            var strId = "";
            var CRMId = '@CRMId';
            var Qty = parseInt("@Qty");
            var i = 0;
            var PostUrl = "@Url.Action("CheckLabels","Labels")";
            $("input[name='listcheck']:checkbox").each(function () {
                if ($(this).attr("checked")) {
                    strId += $(this).val() + "$";
                    i++;
                }
            })
            if (strId != "" && strId != undefined && i<=Qty) {
                $.post(PostUrl, { ListId: strId, CRMId: CRMId }, function (d) {
                    if (d == "1") {
                        alert("操作成功！");
                        window.location.reload();
                    }
                    else { alert("操作失败！"); }
                });
            }
            else { alert("请先去选中！或者选中数量大于合同数量！"); }
        });


    });
</script>